body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.slider-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {align-items: center;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

img {
  width: 50%;
  height: 70%;
  border-radius: 15px;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #0707079e;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
